@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css");

body {
  background-color: rgb(220, 220, 220);
  padding: 20px;
  margin: 0;
}

#Menu {
  width: 150px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 1px rgba(0,0,0,.3);
}

.ulist {
  list-style: none;
  padding-left: 10px;
  margin: 0;
}
.none {
  list-style: none;
  padding: 0;
  margin: 0;
}

.iconBox {
  width: 20px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  width: 25px;
}

.listSpace {
  padding: 2px 0 2px 0;
}

a {
  text-decoration: none;
  padding-left: 15px;
  color: black;
  margin: 5px 0;
}

summary {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 0 0 15px;
}

summary:before {
  font-family: "ionicons";
  content: "\f125";
  position: absolute;
  margin-left: -15px;
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] > summary:before {
  transform: rotate(90deg);
}

details > summary::-webkit-details-marker {
  display: none;
}

details, summary {
  outline: none;
}
